{% extends "base.html" %}

{% block content %}

<h2>Register Here</h2>

<form method="POST">
    {{ form.hidden_tag() }}

    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=30) }}
    </p>

    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=30) }}
    </p>

    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=30) }}
    </p>

    <p>
        {{ form.confirm_password.label }}<br>
        {{ form.confirm_password(size=30) }}
    </p>

    <p>
        {{ form.submit() }}
    </p>
</form>

{% for field in form %}
    {% for error in field.errors %}
        <p style="color:red;">{{ error }}</p>
    {% endfor %}
{% endfor %}

{% endblock %}
